@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Mono', monospace;
  outline: 0px !important;
  box-shadow: none !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.custom-nav-background {
  background-color: rgb(214, 219, 220);
}

.custom-background {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-feature-bar-tabs > h2 {
  text-decoration: underline;
}

.custom-input-id {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.custom-term-details input {
  background-color: rgb(241 245 249);
}

.custom-disclaimer h1 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: rgb(96 165 250);
}
